@media (max-width: 768px) {
.body {
background: rgb(224, 215, 198);
font-size: 16px;
 padding: 50px 20px;
}
h1 {
font-size: 20px;

}
h2 {
font-size: 18px;
}
p {
font-size: 16px;
}
.logo-link {
display: none;
flex-direction: column;
}
.home,
 .about {
flex-direction: column;
text-align: center;
}
.hero {
    flex-direction: column;
text-align: center;

}
 .img {
  max-width: 100%;}
 .btn {
  width: 100%;}
 
.web-service {
    display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
text-align: center;

}
 
.contact {
    flex-direction: column;
    text-align: center;
}
.footer {
    font-size: 14px;
}
}

